<!-- Footer -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <ul class="list-inline">
            <li><a href="http://twitter.com/giorgioazzinnaro" class="icon-twitter icon-2x"></a></li>
            <li><a href="http://gitlab.com/workspair" class="icon-code icon-2x"></a></li>
        </ul>
        <hr>
        <p>Copyright &copy; Giorgio Azzinnaro 2017</p>
      </div>
    </div>
  </div>
</footer>
<!-- /Footer -->

<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ .Site.BaseURL }}js/jquery-2.1.1.min.js"></script>
<script src="{{ .Site.BaseURL }}js/owl.carousel.min.js"></script>
<!--<script src="/js/bootstrap.min.js"></script>-->
<script>
$(function() {
$('a[href*=#]:not([href=#])').click(function() {
  if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
      || location.hostname == this.hostname) {

    var target = $(this.hash);
    target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
    if (target.length) {
      $('html,body').animate({
        scrollTop: target.offset().top
      }, 1000);
      return false;
    }
  }
});
});
$('.owl-carousel').owlCarousel({
loop:true,
margin:10,
nav:true,
autoplay:true,
autoplayHoverPause:true,
autoplayTimeout:3000,
responsive:{
    0:{
        items:1
    },
    1000:{
        items:3
    },
}
})
</script>

{{ partial "analytics.html" . }}
</body>

</html>
