
    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
      <div class="vert-text">
        <a href="#intro">
          {{ with .Site.Params.mainIcon }}
          <img src="{{ .Site.BaseURL }}{{ . }}" class="logo">
          {{ end }}
          <h1 class="siteTitle">{{ .Site.Title }}</h1>
        </a>
        <div class="description">{{ .Site.Params.description }}</div>
        <div class="buttonbox">
       {{ range .Site.Params.social }}
            <a href="{{ .url }}" class="btn btn-default btn-lg"><i class="icon-{{ lower .title }}"></i> <span class="network-name">{{ .title }}</span></a>
        {{ end }}
        </div>
      </div>
    </div>
    <!-- /Full Page Image Header Area -->
